# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
.env/
*.env

# Poetry
poetry.lock

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf

# Resume outputs
resume.pdf
.pdf

# Pytest cache
.pytest_cache/

# VSCode Python debug
*.coverage
htmlcov/

saved_data
auxil
output
